*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #E4F2E9;
    font-family: 'roboto', sans-serif;
}

.c-title{
    font-size: 5rem;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.c-gallery{
    
    max-width: 1600px;
    max-height: 800px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 320px) {
    .c-gallery{
        grid-template-columns: repeat(1, 1fr);
    }
     
}

@media (min-width: 768px) {
    .c-gallery{
        grid-template-columns: repeat(2, 1fr);
    }
     
}

@media (min-width: 1024px) {
    .c-gallery{
        grid-template-columns: repeat(3, 1fr);
    }
     
}

@media (min-width: 1440px) {
    .c-gallery{
        grid-template-columns: repeat(4, 1fr);
    }
     
}


.c-gallery-image{
    margin: 10px;
    overflow: hidden;
}

.c-rectangle {
    margin-bottom: -32px;
    height: 300px;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
}

.c-image{
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5em;
}

.c-popup .c-image{
    transition: 1s;
}

/* popup */

.c-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 80%;
    max-width: 1600px;
    height: 90vh;
    max-height: 800px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    transition: 1s;
    opacity: 1;
}

.c-popup .c-info .c-image {
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 800px;
}

.c-popup .c-info .c-name_dogs {
    color: darkgray;
}

.c-popup.active{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.c-name_dogs {
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.c-extrainfo {
    color: darkgray;
    display: none;
}

.c-popup .c-extrainfo {
    display: block;
}

.c-popup .c-info {
    display: block;
    text-align: center;
}

.c-kruisje {
    width: 20px;
    height: 20px;
    fill: red;
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 1;
}

.c-volledigebar{
    background-color: gray !important;
    height: 24px;
    width: 100%;
    display: none;
}

.c-green-bar{
    background-color: green !important;
    height: 24px;
    display: none;
}

.c-eerstedeel-bar{
    background-color: gray !important;
    height: 24px;
    display: none;
    z-index: 1;
}

.c-popup .c-info .c-volledigebar{
    display: flex;
}

.c-popup .c-info .c-volledigebar .c-green-bar{
    display: block;
}

.c-popup .c-info .c-volledigebar .c-eerstedeel-bar{
    display: block;
}