*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    width: 100%;
    height: 100vh;
    background: #F6F6F6;
    font-family: 'roboto', sans-serif;
}

h1{
    color: var(--Dark-color);
}

:root{
    --Dark-color : #1f272a;
    --Gray-color : #969696;
    --Light-color : #F6F6F6;
}

.c-title{
    font-size: 5rem;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.c-gallery{
    
    max-width: 1600px;
    max-height: 800px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 320px) {
    .c-gallery{
        grid-template-columns: repeat(1, 1fr);
    }
     
}

@media (min-width: 768px) {
    .c-gallery{
        grid-template-columns: repeat(2, 1fr);
    }
     
}

@media (min-width: 1024px) {
    .c-gallery{
        grid-template-columns: repeat(3, 1fr);
    }
     
}

@media (min-width: 1440px) {
    .c-gallery{
        grid-template-columns: repeat(4, 1fr);
    }
     
}

.c-info{
    display: block;
    text-align: center;
    background-color: white;
    border-radius: 0.5em;
}


.c-gallery-image{
    margin: 10px;
    overflow: hidden;
}

.c-rectangle {
    margin-bottom: -32px;
    height: 300px;
    max-width: 244px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
}

.c-image{
    width: 100%;
    height: 240px;
    width: 236px;
    object-fit: cover;
    border-radius: 0.5em 0.5em 0 0;
}

.c-popup .c-image{
    transition: 1s;
    min-width: 80%;
    min-height: 80%;
}

/* popup */

.c-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 80%;
    max-width: 1600px;
    height: 90vh;
    max-height: 800px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    transition: 1s;
    opacity: 1;
}

.c-popup .c-info .c-image {
    height: 100%;
    width: 100%;
    max-height: 600px;
    max-width: 1000px;
    box-shadow: none;
}

.c-popup .c-info .c-name_dogs {
    color: var(--Gray-color);
}

.c-popup.active{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.c-name_dogs {
    color: var(--Dark-color);
    margin-left: auto;
    margin-right: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: bold;
}

.c-extrainfo {
    color: var(--Gray-color);
    display: none;
}

.c-popup .c-extrainfo {
    display: block;
}

.c-popup .c-info {
    display: block;
    text-align: center;
    background-color: transparent;
}

.c-kruisje {
    width: 20px;
    height: 20px;
    fill: var(--Light-color);
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 1;
}

.c-volledigebar{
    background-color: var(--Light-color) !important;
    height: 24px;
    width: 100%;
    display: none;
    border-radius: 0.5em;
    border: 2px var(--Dark-color) solid;
}

.c-green-bar{
    background-color: var(--Dark-color) !important;
    height: 22px;
    display: none;
    border-bottom: 2px var(--Dark-color) solid;
}

.c-eerstedeel-bar{
    background-color: var(--Light-color) !important;
    height: 22px;
    display: none;
    z-index: 1;
    border-radius: 0.5em 0 0 0.5em;
    border-bottom: 2px var(--Dark-color) solid;
}

.c-popup .c-info .c-volledigebar{
    display: flex;
}

.c-popup .c-info .c-volledigebar .c-green-bar{
    display: block;
}

.c-popup .c-info .c-volledigebar .c-eerstedeel-bar{
    display: block;
}

.c-image:focus{
  box-shadow: 0 0 3px 3px var(--Dark-color);
}

.c-info:hover{
    box-shadow: 0 0 3px 3px var(--Dark-color);
  }

.c-logo{
    height: 4rem;
    width: 4rem;
    fill: var(--Dark-color);
}
